<section id="about" class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img src="unnamed.jpg" class="personal-photo">
      </div>
      <div class="col-md-8">
        <h2 class="fw-bold mb-4">About Me</h2>
        <p class="lead mb-4">
          My name is Mohamed Zain, I studied Law but I have Passion for trying devices and troubleshooting them and discover their different softwares.
           I want to use my passion into working feild by joining the ITI and I'm working hard on it.
            I'm an android pro user for more than 10 years, Over these years I rooted many devices of my relatives and my friends and my friends of friends for free because I'm passioned about this.
             Now I still have the same passion to root and setup custom roms but, I want to improve myself not by just being a user but by tring to be a developer.
        </p>
        <a href="https://drive.usercontent.google.com/download?id=18bItfLtEls8HMGWaTWlBkUtQvzLK7xHF&export=download&authuser=0" class="btn btn-outline-dark btn-lg">Download CV</a>
      </div>
    </div>
  </div>
</section>
