<section id="about" class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img src="unnamed.jpg" class="personal-photo" />
      </div>
      <div class="col-md-8">
        <h2 class="fw-bold mb-4">About Me</h2>
        <p class="lead mb-4">
          I'm a recent law graduate and tech enthusiast. My passion for customizing devices and
          softwares as a user led me to earn an ITI scholarship, which marked the professional start of my
          journey in the development field. I combine a sharp analytical mindset with hands-on technical
          skills to create meaningful solutions and keep growing in the digital world.
        </p>
        <a
          href="https://drive.usercontent.google.com/download?id=18bItfLtEls8HMGWaTWlBkUtQvzLK7xHF&export=download&authuser=0"
          class="btn btn-outline-dark btn-lg"
          >Download CV</a
        >
      </div>
    </div>
  </div>
</section>
