<footer id="contact" class="bg-dark text-light py-4">
  <div class="container text-center">
    <h3 class="fw-bold mb-3">GET IN TOUCH</h3>
    <p class="lead mb-3">
      Have a question or want to work together? <br>
      Feel free to reach out to me via email.
    </p>
    <a href="mailto:aboz31n@gmail.com" class="btn btn-outline-light btn-lg mb-4">aboz31n@gmail.com</a>

    <!-- Social Media Links -->
    <div class="social-links mb-4">
      <a href="https://www.facebook.com/aboze1n/" target="_blank" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.linkedin.com/in/mohamad-zain-3b5096330" target="_blank" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://x.com/AboZe1n" target="_blank" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/AboZe1n" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
    </div>

