/* الملف: src/app/components/skills/skills.css */

.progress {
  font-size: 0.9rem;
  font-weight: bold;
}

.progress-bar {
  width: 0; /* العرض المبدئي هيكون صفر */
  transition: width 1s ease-in-out; /* عدلنا مدة وسرعة الأنيميشن عشان يبقى شكله أحسن */
}

h6 {
    margin-bottom: 0.75rem;
    font-size: large;
}
